#video {
    width: 390;
    height: 200;
  }
  #nav-bar {
    position: fixed;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
    top: 0;
    right: 1;
    align-content: space-between;
    border: 2px solid gray;
  }
  @media screen and (maxwidth: 500px) {
    #form {
      width: 200;
      height: 50;
    }
  }
  #logo {
    
  }